<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
</head>

<body>
    <h1>
        <%= category.toUpperCase() %> Products
    </h1>
    <ul>
        <% for (let product of productsReturned ) { %>
            <li>
                <a href="/products/<%= product._id %>">
                    <%= product.name %>
                </a>
                <!-- <a href="/farms/<%= product.farm %> "></a> -->
            </li>
            <% } %>
    </ul>
    <% if (category !=='All') { %>
        <a href="/products">Back to All Products</a>
    <% } %>
    <!-- can no longer use the below line in the index, since we're not supplying a farm like we do when creating a product from a farm page -->
    <!-- <a href="/products/new">Add a new product</a> -->
</body>

</html>