.square {
  width: 300px;
  height: 300px;
  background-color: magenta;
  transition: 2s;
  transition-timing-function: ease-in-out;
  transform: rotate(0deg);
}

.square:hover {
  transform: rotate(360deg);
}