<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <h1>Sign Up</h1>
    <form action="/register" method="POST">
        <label for="userInput">Username: </label>
        <input type="text" id="userInput" name="username" placeholder="username">
        <label for="passInput">Password: </label>
        <input type="password" id="passInput" name="password">
        <button>Sign Up</button>
    </form>
</body>

</html>